{% extends "common.html" %}
    {% block title %} Ojaoba {% endblock title %}
    {% block content %}
    {% load static %}
    {% load humanize %}

    <div class="container py-2">

        <div class="banner">
            <p class="text-light fs-4 fw-medium">Ojaoba is a platform for buying and selling products.</p>
        </div>


        <h3 class="text-center my-4">Featured Products</h3>

        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <a href="{% url "get-product" product.id %}" class="text-black text-decoration-none">
                    <div class="card">
                        {% if product.images.all %}
                                <img class="card-img-top" src="{{product.images.all.first.image.url}}" alt="{{product.title}}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{product.title|title}}</h5>
                            <p class="card-text my-1">{{product.description|truncatewords:"5"}}</p>
                            <p class="my-1"><i><b>Price</b>: </i>#{{product.price|intcomma}}</p>
                            <p class="my-1"><i><b>Last Updated</b>: </i> {{product.updated_at|naturalday|title}}</p>
                            <p><i><b>Category</b>: </i> {{product.category|title}}</p>

                            <a href="#" class="btn btn-sm btn-dark">Add to cart</a>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock content %}